<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.son.jawad.tutoriallibrary">

    <!-- Self explanatory -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- To call a phone number directly without displaying the dialer -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- To enable / disable cellular data -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- To enable / disable wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- To enable / disable bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Incoming SMS sender history -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- To read phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- To use camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- To read/write master sync status -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- To autorotation toggle -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <service android:name=".Providers.GeneralProvider.dataprovider.AppProvider" />
        <service android:name=".Providers.GeneralProvider.dataprovider.ContactsProvider" />
        <service android:name=".Providers.GeneralProvider.dataprovider.PhoneProvider" />
        <service android:name=".Providers.GeneralProvider.dataprovider.SearchProvider" />
        <service android:name=".Providers.GeneralProvider.dataprovider.SettingsProvider" />
        <service android:name=".Providers.GeneralProvider.dataprovider.ShortcutsProvider" />
        <service android:name=".Providers.GeneralProvider.dataprovider.TogglesProvider" />
    </application>

</manifest>
